@charset "UTF-8";
/* CSS Document */
/*div{border:1px solid;}
div{color:#f00;}
div div{color:#ff0;}
div div div{color:#fff;}
div div div div{color:#f0f;}
div div div div div{color:#00f;}*/

/* reset ***************************************** */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, button, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,aside, canvas, details, embed,figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline;}
ol, ul, nav{ list-style:none;}
a, a:active{text-decoration:none; color:inherit;}a:hover{text-decoration:underline; color:inherit;} 
img{ width:100%; height:auto; vertical-align:bottom;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;} sub {bottom: -0.25em;}
audio:not([controls]) {display: none;}
table {	border-collapse: collapse; border-spacing: 0;}
html {overflow-y: scroll; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
p.lang, p.intro, p.sign{font-size: 0.9rem; padding: 5px 0;}
p.lang{text-align: right;}
/* global & tools ******************************** */
body{background:#222;line-height: 1.2; color: #fff;}
.contentW{max-width:820px; min-width: 450px; margin-left:auto; margin-right:auto;}
main.contentW{background-color: #eaeaea; padding: 15px;
	box-shadow: 3px 3px 15px #000;}
.fLeft{}
.fRight{}
header#header{position: fixed; top: 0;background:#222; width: 100%; z-index: 100;}
footer#footer{position: fixed; bottom: 0;background:#222; width: 100%; z-index: 100;}
.rw{width: 100%; position: relative; clear: both; margin-top: 350px; opacity: 0; max-height: 0px; overflow: hidden; white-space: nowrap;
	/* Firefox */ -moz-transition: margin-top 2s ease-in,  opacity 1s ease-in, max-height 1s ease-in;/* WebKit */ -webkit-transition: margin-top 2s ease-in,  opacity 1s ease-in, max-height 1s ease-in;/* Opera */ -o-transition: margin-top 2s ease-in,  opacity 1s ease-in, max-height 1s ease-in;/* Standard */ transition: margin-top 2s ease-in,  opacity 1s ease-in, max-height 1s ease-in;}
.active{margin-top: 15px;  opacity: 1; max-height: 5000px; overflow: visible;;
	/* Firefox */ -moz-transition: margin-top 2s ease-in,  opacity 1s ease-in, max-height 1s ease-in;/* WebKit */ -webkit-transition: margin-top 2s ease-in,  opacity 1s ease-in, max-height 1s ease-in;/* Opera */ -o-transition: margin-top 2s ease-in,  opacity 1s ease-in, max-height 1s ease-in;/* Standard */ transition: margin-top 2s ease-in,  opacity 1s ease-in, max-height 1s ease-in;}
.td{display: inline-block; position: relative;}
.txt{position: absolute; background-size: 100%; font-size: 1rem; font-style: italic; font-variant: small-caps; color: #666;background-repeat: no-repeat; max-height: 115%; text-align: center;font-family: 'Fresca', sans-serif; white-space: normal;line-height: .9; z-index: 1}
.txt.active{z-index: 500}
.txt.active:hover{z-index: 1000}
.oval{background-color: #fff; border: 1px solid #000; border-radius: 50%; padding: 9px 25px; max-width: 0px; max-height: 0px; /*overflow: hidden;*/ opacity: 0;
	/* Firefox */ -moz-transition: all 1s ease-in 2s;/* WebKit */ -webkit-transition: all 1s ease-in 2s;/* Opera */ -o-transition: all 1s ease-in 2s;/* Standard */ transition: all 1s ease-in 2s;}
.active .oval{max-width: 2000px; max-height: 2000px; opacity: 1;
	/* Firefox */ -moz-transition: all 1s ease-in 2s;/* WebKit */ -webkit-transition: all 1s ease-in 2s;/* Opera */ -o-transition: all 1s ease-in 2s;/* Standard */ transition: all 1s ease-in 2s;}
.active .oval::before{content: ''; position: absolute;}
.txt p{opacity: 0;}
.active .txt p{opacity: 1;
	/* Firefox */ -moz-transition: opacity 2s ease-in;/* WebKit */ -webkit-transition: opacity 2s ease-in;/* Opera */ -o-transition: opacity 2s ease-in;/* Standard */ transition: opacity 2s ease-in;}
.globo{position: absolute; background-color: #fff; border: solid 2px #000; text-align: center; border-radius: 25px;font-family: 'Fresca', sans-serif;}
.icoEdit{ display: inline-block; background: url('../assets/icoEdit.png') no-repeat center; cursor: pointer; width: 36px; height: 36px; position: relative; z-index: 150;}
.modalView{ position: absolute; background-color: #eaeaea; box-shadow: 3px 3px 15px #000; margin-top: 10px; margin-left: 70%; border-radius: 3px; padding: 10px; min-width: 150px; width: 250%; font-size: 1.3rem; z-index: 250;}
.modalView span{font-size: 0.9rem; font-weight: bold;}
.modalView  input{width: 100%;}
.langTrue, .LangActual{margin: 10px; background-color: #fff; padding: 5px; border-radius: 3px; text-align: left;}
			
/*header ***************************************** */
header#header img{width: auto; margin: auto; max-width: 50%; display: block;;}
/*menu principal*/
#menuPpal{}
/*content **************************************** */
#c00001{}
#t00001txt01{background-image: url('../assets/00001txt01.png'); width: 25%; height: 1200px; top: -10px; left: -2.8%; z-index: 10;
	/* Firefox */ -moz-transition: all 2s ease-in 1s;/* WebKit */ -webkit-transition: all 2s ease-in 1s;/* Opera */ -o-transition: all 2s ease-in 1s;/* Standard */ transition: all 2s ease-in 1s;}
.active #t00001txt01{width: 24%; top: -19px; left: -2.3%;
	/* Firefox */ -moz-transition: all 2s ease-in 1s;/* WebKit */ -webkit-transition: all 2s ease-in 1s;/* Opera */ -o-transition: all 2s ease-in 1s;/* Standard */ transition: all 2s ease-in 1s;}
#t00001txt01 p{padding: 43px 20.5% 150px 22%;}
#c00002.active{margin-top: -11px;}
#t00002txt01{background-image: url('../assets/00002txt01.png'); height: 248px; width: 22%; top: 27px; left: -.3%;
	/* Firefox */ -moz-transition: all 1s ease-in 1s;/* WebKit */ -webkit-transition: all 1s ease-in 1s;/* Opera */ -o-transition: all 1s ease-in 1s;/* Standard */ transition: all 1s ease-in 1s;}
.active #t00002txt01{width: 19%; top: 35px; left: 1.2%;
	/* Firefox */ -moz-transition: all 1s ease-in 1s;/* WebKit */ -webkit-transition: all 1s ease-in 1s;/* Opera */ -o-transition: all 1s ease-in 1s;/* Standard */ transition: all 1s ease-in 1s;}
#t00002txt01 p{padding: 51px 16.9% 51px 12.1%;;}
#c00003{width: 20%}
#t00003txt01{top:-15px; left:1%; width: 65%;}
#c00004{width: 60.4%; margin-left: -2.7%; top: 150px; position: relative;
	/* Firefox */ -moz-transition: top 2s ease-in;/* WebKit */ -webkit-transition: top 2s ease-in;/* Opera */ -o-transition: top 2s ease-in;/* Standard */ transition: top 2s ease-in;}
#t00004txt01{top:100px; left:-6%; width: 35%;}
.active #c00004{ top: 0px;
	/* Firefox */ -moz-transition: top 2s ease-in 1s;/* WebKit */ -webkit-transition: top 2s ease-in 1s;/* Opera */ -o-transition: top 2s ease-in 1s;/* Standard */ transition: top 2s ease-in 1s;}
.active #t00004txt01{
	/* Firefox */ -moz-transition: all 2s ease-in 1.5s;/* WebKit */ -webkit-transition: all 2s ease-in 1.5s;/* Opera */ -o-transition: all 2s ease-in 1.5s;/* Standard */ transition: all 2s ease-in 1.5s;}
#c00005{width: 22.7%; margin-left: -2.7%; top: 300px; position: relative;
	/* Firefox */ -moz-transition: top 2s ease-in 1s;/* WebKit */ -webkit-transition: top 2s ease-in 1s;/* Opera */ -o-transition: top 2s ease-in 1s;/* Standard */ transition: top 2s ease-in 1s;}
#t00005txt01{top:-15px; left:6%; width: 71%;}
#t00005txt02{top:80px; left:-14%}
.active #c00005{ top: 0px; 
	/* Firefox */ -moz-transition: top 2s ease-in 2s;/* WebKit */ -webkit-transition: top 2s ease-in 2s;/* Opera */ -o-transition: top 2s ease-in 2s;/* Standard */ transition: top 2s ease-in 2s;}
.active #t00005txt01, .active #t00005txt02{ 
	/* Firefox */ -moz-transition: all 2s ease-in 2.5s;/* WebKit */ -webkit-transition: all 2s ease-in 2.5s;/* Opera */ -o-transition: all 2s ease-in 2.5s;/* Standard */ transition: all 2s ease-in 2.5s;}
#c00006{width: 29.5%;}
#t00006txt01{top:15px; left:-1%; width: 49%;}
#t00007txt01{position:absolute; top:0; left:27%; width: 162%; opacity: 0}
.active #t00007txt01{ opacity: 1;
	/* Firefox */ -moz-transition: opacity .3s ease-in 3.5s;/* WebKit */ -webkit-transition: opacity .3s ease-in 3.5s;/* Opera */ -o-transition: opacity .3s ease-in 3.5s;/* Standard */ transition: opacity .3s ease-in 3.5s;}
#t00007txt01 > span{position: absolute; top: 83px; text-align: center; left: 21%; font-size: 168%;width: 38%;}
#c00007{width: 71.7%; margin-left: -2.5%; top: 550px; position: relative;  opacity: 1;
	/* Firefox */ -moz-transition: top 2s ease-in;/* WebKit */ -webkit-transition: top 2s ease-in;/* Opera */ -o-transition: top 2s ease-in;/* Standard */ transition: top 2s ease-in;}
#i0007imga{position: absolute; left: 0; top: 0;}
.active #i0007imga{position: absolute; left: 0; top: 0;
	/* Firefox */ -moz-transition: all 2s ease-in 2s;/* WebKit */ -webkit-transition: all 2s ease-in 2s;/* Opera */ -o-transition: all 2s ease-in 2s;/* Standard */ transition: all 2s ease-in 2s;}
.active #c00007{ top: 0px;  opacity: 1;
	/* Firefox */ -moz-transition: top 2s ease-in 2.5s, opacity 1s ease-in 2.5s;;/* WebKit */ -webkit-transition: top 2s ease-in 2.5s, opacity 1s ease-in 2.5s;;/* Opera */ -o-transition: top 2s ease-in 2.5s, opacity 1s ease-in 2.5s;;/ opacity: 1;* Standard */ transition: top 2s ease-in 2.5s, opacity 1s ease-in 2.5s;;}
#t00007txt02{top:-7px; left:24%; width: 35%;}
.active #t00007txt02{
	/* Firefox */ -moz-transition: all 2s ease-in 3s;/* WebKit */ -webkit-transition: all 2s ease-in 3s;/* Opera */ -o-transition: all 2s ease-in 3s;/* Standard */ transition: all 2s ease-in 3s;}
#c00008{width: 31.8%;}
#t00008txt01{top:-15px; left:1%; width: 33%;}
#c00009{width: 65.8%; margin-left: 1%; position: relative; top: 150px; overflow: hidden; opacity: 0;}
.active #c00009{ top: 5px; opacity: 1;
	/* Firefox */ -moz-transition: top 1s ease-in 2s;/* WebKit */ -webkit-transition: top 1s ease-in 2s;/* Opera */ -o-transition: top 1s ease-in 2s;/* Standard */ transition: top 1s ease-in 2s;}
#i00009img01{position: absolute; bottom: 0; left: 0;}
.active #i00009img01{bottom: -1px; left: -7px; width: 103%; overflow: hidden;
	/* Firefox */ -moz-transition: all 1s ease-in 4s;/* WebKit */ -webkit-transition: all 1s ease-in 4s;/* Opera */ -o-transition: all 1s ease-in 4s;/* Standard */ transition: all 1s ease-in 4s;}
#t00009txt01{top:5px; left:42%; width: 45%;}
#t00009txt02{top:75px; left:70%; width: 20%;}
.active #t00009txt01{/* Firefox */ -moz-transition: all 1s ease-in 2.5s;/* WebKit */ -webkit-transition: all 1s ease-in 2.5s;/* Opera */ -o-transition: all 1s ease-in 2.5s;/* Standard */ transition: all 1s ease-in 2.5s;}
.active #t00009txt02{/* Firefox */ -moz-transition: all 1s ease-in 3s;/* WebKit */ -webkit-transition: all 1s ease-in 3s;/* Opera */ -o-transition: all 1s ease-in 3s;/* Standard */ transition: all 1s ease-in 3s;}
#c00010{}
#t00010txt01{left: 50%; top: -5px;width: 25%;}
#c00011_12.active{margin-top: -42px;}
#c00011{width: 60.5%;}
#t00011txt01{left: 63%; top: 175px; width: 26%;}
#c00012{width: 56%; margin-left: -17.5%; top: 150px; opacity: 0;}
.active #c00012{top: 0px; opacity: 1;
	/* Firefox */ -moz-transition: top 1s ease-in 1.5s;/* WebKit */ -webkit-transition: top 1s ease-in 1.5s;/* Opera */ -o-transition: top 1s ease-in 1.5s;/* Standard */ transition: top 1s ease-in 1.5s;}
#t00012txt01{left: 17%; top: 10px; width: 25%;}
.active #t00012txt01{/* Firefox */ -moz-transition: top 1s ease-in 2.5s, opacity 1s ease-in 2.5s;/* WebKit */ -webkit-transition: top 1s ease-in 2.5s, opacity 1s ease-in 2.5s;/* Opera */ -o-transition: top 1s ease-in 2.5s, opacity 1s ease-in 2.5s;/* Standard */ transition: top 1s ease-in 2.5s, opacity 1s ease-in 2.5s;}
#i00012imga{position: absolute; left: 0; top: 0;}
#i00012imgb{position: absolute; left: 0; top: 0;}

/*footer ***************************************** */
#footer{}
@media only screen and (min-width: 530px) {
/* header ************************************************************************************************************* */
/* content ************************************************************************************************************ */
/* footer ************************************************************************************************************* */
}
@media only screen and (min-width: 768px) {
	.txt{font-size: 1.2rem;}
/* header ************************************************************************************************************* */
/* content ************************************************************************************************************ */
	#t00004txt01{top:150px;}
/* footer ************************************************************************************************************* */
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {
/* header ************************************************************************************************************* */
/* content ************************************************************************************************************ */
/* footer ************************************************************************************************************* */
}